<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="../static/css/catalogue.css">
</head>

<body>

<!--HEADER-->

<span>
    <div class="index_activities_loop">
        <div class="activity">
            <h1>Sumobrydning</h1>

            <img src="../static/images/Sumo.jpg" height="375" width="500"/>

            <div class="buttons">
                <button type="button" id="see_more_btn">Se mere</button>
                <button type="button" id="edit_btn">Rediger</button>
            </div>

        </div>

        <div class="add_new_activity">
            <h1>Ny aktivitet</h1>

            <div>
                <img src="../static/images/add_circle.svg" alt="Tilføj aktivitet">
            </div>

            <div>
                <button type="button" id="add_activity_btn">Tilføj</button>
            </div>
        </div>

    </div>

    <span>
        <img src="../static/images/Adventure_Alley_logo.png" height="221" width="394"/>
    </span>

</span>

</body>
</html>